body{
    background-image: url(background/gold.png);
}

header{
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    /*background-color: #00dd00;*/
    background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
    box-sizing: border-box;
    padding: 20px 0;
    z-index: 1;
}

header ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

header li {
    font-size: 25px;
    font-weight: bold;
}

header a{
    display: inline-block;
    text-decoration: none;
}
header a:link, header a:visited {
    color: white;
}
header a:hover{
    color: yellow;
}

.contents{
    margin-top: 250px;
}

.home{
    text-align: center;
}

.home h1{
    font-size: 50px;
}

.home p{
    font-size: 25px;
}

.sum{
    text-align: center;
}

.sum h1{
    font-size: 150px;
    margin: 0px;
}

.sum h2{
    font-size: 60px;
}

.sum h3{
    font-size: 30px;
}

.days table{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

tbody:nth-child(2n){
    background-color: #c0c0c0;
}

tbody:nth-child(2n+1){
    background-color: #ffffff;
}

.diary{
    border-top: solid blue;
    border-bottom: solid blue;
}

.diary h2{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: blue;
}

.section{
    padding-left: 10px;
    padding-right: 10px;
    border: solid #32a1ce;
}

.profile{
    text-align: center;
}

.profile h1{
    font-size: 70px;
}

.profile p{
    font-size: 35px;
}